<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.foodinfo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.proveders.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_food"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_food_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodInfo">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0fsBcXuJN0_Fq8vQXgFw234UlxWDgIqs" />

        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign.SignActivity" />
        <activity android:name=".IdPwActivity" />
        <activity android:name=".Sign.OperActivity" />

    <activity android:name=".StoreinfoActivity"/>
        <activity android:name=".MypageActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".LoginActivity" />

    </application>

</manifest>
